.env
__pycache__/
out_steps/

*.aux
*Zone.Identifier
*.bbl
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.synctex.gz
*.toc
*.bcf-SAVE-ERROR

artifacts/
artifacts_test/
dataset/
labelimg_env/
dataset_yolo/
pdfs1/